In [4]:
#1. Write a Python program to evaluate the expression `5 + 3 * 2` and print the result.

A=(5 + 3 * 2)

In [5]:
print(A)

11

In [7]:
#2. Write a program that calculates the result of `2 ** 3 + 5`

b=(2 ** 3 + 5)

print(b)

In [8]:
# 3. Create a program that calculates the result of the expression '(10 - 3) * (2 + 4)'

c=(10 - 3) * (2 + 4)

In [9]:
print(c)

42

In [10]:
#4. Write a program that calculates `15 // 4` and prints the result.

d=(15 // 4)

In [11]:
print(d)

3

In [13]:
#5. Write a Python code to find the remainder when dividing 15 by 4 (`15 % 4`)

e=(15 % 4)

In [14]:
print(e)

3

In [16]:
# 6. Create a variable `x` and assign it the value 42. Print its type using `type()`.

f= 42
print(type(f))

<class 'int'>

In [17]:

# 7. Create a list `fruits = ['apple', 'banana', 'cherry']`. Print the type of this list.
fruits=['apple','banana','cherry'] #created a list 
print(fruits)
print(type(fruits))

['apple', 'banana', 'cherry']
<class 'list'>

In [18]:
# 8. Create a variable `is_active` and assign it the value `True`. Print its type.

is_active=True

print(type(is_active))

<class 'bool'>

In [19]:
#9. Create a variable `price = 3.14`. Print its type
price=3.14

print(type(price))

<class 'float'>

In [21]:
#10. Write a program to print the type of the string `'Hello World'`.
print(type('Hello World'))

<class 'str'>

In [23]:

# 11. Create a list of your 3 favorite fruits and print it.

fruits=['cherry','kiwi','orange',]
print(fruits)

['cherry', 'kiwi', 'orange']

In [25]:
#12. Convert a tuple `('apple', 'banana', 'cherry')` into a list. Print the new list.
#create a tuple
x=('apple', 'banana', 'cherry')
print(x)

print(type(x))
print("*"*50)

('apple', 'banana', 'cherry')
<class 'tuple'>
**************************************************

In [26]:
#Now covert tuple to list 
y=list(x)
print(y)

print(type(y))

['apple', 'banana', 'cherry']
<class 'list'>

In [27]:
#13. Create a list `my_list = [10, 20, 30]`. Access and print the first element of the list

my_list=[10,20,30]#Here 

print(my_list[0])

10

In [28]:
#14. Find the length of the list `[10, 20, 30]` and print it.
print(len(my_list))

3

In [29]:
#15. Add the element `40` to the list `my_list = [10, 20, 30]` and print the updated list

my_list=[10,20,30]
my_list.insert(3,40) # adds one element at a  index[3]
print(my_list)

[10, 20, 30, 40]

In [30]:
#16. Write a `for` loop to print numbers from 1 to 5.
for i in range(6):
    print(i)

0
1
2
3
4
5

In [31]:
#17. Write a `for` loop to print numbers from 3 to 5.
for i in range(3,6):
    print(i)

3
4
5

In [32]:
#.18  Write a `for` loop to iterate over a list `['apple', 'banana', 'cherry']` and print each element

my_list=['apple','banana','cherry'] #create list
for i in my_list: 
    print(i)

apple
banana
cherry

In [33]:
#  19. Print the square of numbers from 1 to 4 using a `for` loop
for i in range(1,5): 
    print(f"{i}² = {i**2}")

1² = 1
2² = 4
3² = 9
4² = 16

In [34]:
#20. Write a `for` loop that prints `i * 2` for `i` in the range of 5.
for i in range(1,6): #1 to 6 but not including 5 so 1 to 5
    print(f"{i} x 2 = {i*2}")

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10

In [35]:
# 21. Write a `while` loop that prints numbers from 1 to 5.

number=1 
while number<=5: 
  print(number) 
  number+=1

1
2
3
4
5

In [36]:
# 22. Write a `while` loop that prints numbers from 0 to 3.

number=0 #initialize num
while number<=3: 
  print(number) 
  number+=1

0
1
2
3

In [37]:
#23. Write a `while` loop that calculates and prints the sum of numbers from 1 to 10.

number=1
sum=0
while number<=10:
    sum+=number
    number+=1
print(sum)

55

In [38]:
#24. Create a `while` loop that multiplies numbers from 1 to 4 and prints the
#result.
number= 1
multiples=1
while number<=4:
    multiples*=number
    number+=1
print(multiples)

24

In [39]:
#25. Write a `while` loop that prints numbers from 10 to 1, decrementing by 1 each time.
number=10
while number>0:
  print(number)
  number-=1 #minus sign decrements the values

10
9
8
7
6
5
4
3
2
1

In [40]:
# 26. Write a program that checks if a number is positive, negative, or zero
a=int(input("Enter a number: "))

if a==0:
  print("Number is zero")
elif a<0:
  print(f"{a} is negative")
else:
  print(f"{a} is positive")

Enter a number:  98

98 is positive

In [41]:
# 27. Write a program that checks if a number is even or odd using `if-else`.

b=int(input("Enter a number: "))
if b % 2 ==0:
  print(f"{b} is even")
else:
  print(f"{b} is odd")

Enter a number:  43

43 is odd

In [43]:
#28. Write a program that checks if a number is greater than 10 and prints 'Greater', otherwise prints 'Smaller'

x=int(input("Enter a number: "))

if x>10:
  print(f"{x} is greater than 10")
else:
  print(f"{x} is smaller than 10")

Enter a number:  8

8 is smaller than 10

In [46]:
#29. Write a program that prints the grade based on a score: A (90-100), B (70-89), C (50-69), and D (0-49=int(input("enter grade: "))
score=int(input("enter score: "))
if score>=90 and score<=100:
  print("Grade:A")
elif score>=70 and score<=89:
  print("Grade:B")
elif score>=50 and score<=69:
  print("Grade:C")
else:
  print("Grade:D")

enter score:  65

Grade:C

In [47]:
# 30. Write a program that checks if a number is divisible by 5 and prints 'Divisible' or 'Not Divisible'.
number=int(input("Enter a number: "))

if number%5==0:
  print("Divisible by 5")
else:
  print("Not divisible by 5")

Enter a number:  80

Divisible by 5

In [52]:
#31. Write a function `add_numbers(a, b)` that returns the sum of two number
def add(a,b):
  return(a+b)
print("sum:",add(7,8))

sum: 15

In [55]:

#32. Write a function `revstr(s)` that returns the reverse of a string
def revstr(s):
  return(s[-1: :-1])


mystr=input("Enter a string to be reversed : ")
revstr(mystr)

Enter a string to be reversed :  Pradnya

'ayndarP'

In [56]:
#33

In [57]:
#34. Write a function that calculates the factorial of a number using a loop
def factorial(num):
  list=[]
  while num>0:
    list.append(num)
    num-=1
  factorial=1
  for i in list:
    factorial*=i

  return factorial

numb=int(input("Enter a number: "))
print(f"factorial of {numb} is {numb}! =",factorial(numb))

Enter a number:  8

factorial of 8 is 8! = 40320

In [58]:
# 35. Write a function `multiply(a, b)` that returns the product of two numbers and prints the result.
def multiply(a,b):
  return(a*b)

multiply(8,9)

72

In [59]:
#36. Write a lambda function that adds two numbers and prints the result.
add=lambda x,y:x+y 

add(97,45)

142

In [61]:
#37. Use a lambda function to square a number and print the result
#two ways to square a*a or a**2 eg: (2*2 or 2**2 both will give 4) we will do both
square_1=lambda a:a*a
square_2=lambda a:a**2
number=int(input("Enter a number to square: "))
print(f"Method 1: {number}² = ",square_1(number))
print(f"Method 2: {number}² = ",square_2(number))

Enter a number to square:  4

Method 1: 4² =  16
Method 2: 4² =  16

In [63]:
#38.i)Use a lambda function to cube a number and print the result
#similar to previous code we will use two approaches for cubing
cube_1=lambda a:a*a*a
cube_2=lambda a:a**3
number=int(input("Enter a number to cube: "))
print(f"Approach 1: {number}³ = ",cube_1(number))
print(f"Approach 2: {number}³ = ",cube_2(number))

Enter a number to cube:  3

Approach 1: 3³ =  27
Approach 2: 3³ =  27

In [64]:
#38.
# ii)Write a lambda function to find the cube of a number and call it with the value `3`

In [65]:
# 39. Write a lambda function that filters even numbers from the list `[1, 2, 3, 4, 5, 6]`
even=lambda list:[i for i in my_list if i%2==0] 
my_list=[1,2,3,4,5,6]
print(even(my_list))

[2, 4, 6]

In [66]:
#40. Write a lambda function that checks if a number is positive or not give true or false respectively
pos=lambda a:[f"true, {x} is positive" if a>0 and a!=0 else f"false, {x} not positive"]

num=int(input("Enter a number: "))
print(pos(num))

Enter a number:  87

['true, 8 is positive']

In [68]:
#41. use map to multiply the numbers by 2 in the list `[1, 2, 3, 4]`

In [71]:
#42. map to square the numbers in the list `[1, 2, 3, 4, 5]`
def square(a):
    return a * a

sq_number = map(square, [1, 2, 3, 4, 5])
print(list(sq_number))

[1, 4, 9, 16, 25]

In [73]:
#44 use map to square the numbers in the list `[1, 4, 9, 16]`
def square(a):
    return a * a

sq_number = map(square, [1, 4, 9, 16])
print(list(sq_number))

[1, 16, 81, 256]

In [74]:
#46. use filter to filter out the even numbers from the list
def iseven(a):
  if a%2==0:
    return True
  else:
    return False

my_list=[56,57,58,59,53,52]
even=filter(iseven,my_list)

for i in even:
  print(i)

56
58
52

In [75]:
#47. use filter to filter out the numbers that are greater than 3
def greaterthan(a):
  if a>=3: 
    return True 
  else:
    return False
greater=filter(greaterthan,my_list) 

for i in greater:
  print(i)

56
57
58
59
53
52

In [77]:
#48. use filter to filter out the strings that are longer than 3 in length
def lent(a):
  if len(a)>3: #if length of string is greater than 3 True Else False
    return True
  else:
    return False

my_lis2=['Ram','Shyam','Laxman','Mon']

lentt=filter(lent,my_lis2) #filter names longer than 3

for i in lentt:
  print(i)

for i in lentt:
  print(i)

Shyam
Laxman

In [78]:
#49. use filter to filter out the negative numbers
def check(a):
  if a>0 and a!=0:
    return False
  else:
    return True
my_list=[-29,-87,66,42,-5]

check=filter(check,my_list)

for i in check:
  print(i)

-29
-87
-5

In [82]:
#50. Use `filter()` to find all numbers divisible by 3 from the list `[1, 2, 3, 4, 5,6]`
def divthree(a):
  if a%3==0: #if number is divisible by 3 true else false
    return True
  else:
    return False

In [83]:
my_list

[-29, -87, 66, 42, -5]

In [85]:
threediv=filter(divthree,my_list) #filtering numbers divisible by 3
for i in threediv:
  print(i)

-87
66
42

In [86]:
# 52. Write a program that prints numbers from 1 to 5, but skips 3 using `continue`.
for i in range(1,6):
  if i==3:
    continue 
  print(i)

1
2
4
5

In [87]:
#53. Write a program that prints numbers from 1 to 5, but breaks the loop when number is greater than 4
for i in range(1,6):
  if i>4:
    break
  print(i)

1
2
3
4

In [88]:
#54. Write a program that prints even numbers from 1 to 10 using `continue`.
for i in range(1,11):
  if i%2!=0:
    continue
  print(i)

2
4
6
8
10

In [89]:
#55. Write a program that prints numbers from 1 to 5, but breaks the loop when negative number is encountered
my_list5=[1, 2, 3, -1, 4]

for i in my_list5:
  if i<0: #if number is negative
    break #it will break the loop i.e not print -1 and stop
  print(i)

1
2
3

In [90]:
#56. Write a program that uses `enumerate()` to print the index and value of each element in the list `['apple', 'banana', 'cherry']`.
my_list=['apple','banana','cherry']
for index,name in enumerate(my_list): #index and name are variables and my_list is the list which will be iterated
  print(index,name)

0 apple
1 banana
2 cherry

In [92]:
#57. Write a program to unzip the list of tuples `[(1, 'a'), (2, 'b'), (3, 'c')]` into two separate lists
my_list=[(1, 'a'), (2, 'b'), (3, 'c')] #list of tuples

x=list(zip(*my_list)) 
print(x) 
l1,l2=map(list,x) 
print(l1)
print(l2)

[(1, 2, 3), ('a', 'b', 'c')]
[1, 2, 3]
['a', 'b', 'c']

In [93]:
# 58. Write a program that zips two lists `['apple', 'banana']` and `[1, 2]` and prints the result.
#two lists
x=['apple', 'banana']
y=[1,2]

q=list(zip(x,y))
print(q)

[('apple', 1), ('banana', 2)]

In [94]:
#59. Write a program to find the sum of corresponding elements in two lists `a = [1, 2, 3]` and `b = [4, 5, 6]` using `zip()`
# Create two lists a and b
a = [1, 2, 3]
b = [4, 5, 6]


sums = [x + y for x, y in zip(a, b)] 

print(sums)

[5, 7, 9]

In [95]:
# 60. Use `enumerate()` to loop over a list of names and print each name with its index
names=['Ram','Shyam','Mon'] 
for index,name in enumerate(names): 
  print(index,name)

0 Ram
1 Shyam
2 Mon