In [1]:
#Lets stude about loop function
#A for loop is used to iterate through a sequence like list,tuple or string[iterable]
#loop continues untill we reach the last number

In [2]:
#Syntax with range fucntion- 
#for i in range(10):
#    print(i)

In [3]:
location=["Kolkata","Bihar","Raipur","Patna","Siwan"]

In [4]:
location

['Kolkata', 'Bihar', 'Raipur', 'Patna', 'Siwan']

In [5]:
location=["Kolkata","Bihar","Raipur","Patna","Siwan"]

In [6]:
for city in location:
    print(city)

Kolkata
Bihar
Raipur
Patna
Siwan

In [7]:
salary=[10500,204400,35000,57000,78000,19000,22000,95000]

In [8]:
for money in salary:
    print(money)

10500
204400
35000
57000
78000
19000
22000
95000

In [9]:
student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [10]:
#We can classify grades of students using student_score

In [11]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Jsut Pass")
    else:
        print(marks ,"You are fail, please try next time")

78 First class
98 Distiction
65 First class
45 Jsut Pass
89 Second class
87 Second class
32 You are fail, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

In [12]:
#What is list comprehension 
#List comprehension is a shorter syntax on values of existing list

In [13]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]

In [14]:

#Use list comprehension

In [15]:
sal=[val for val in salary if val==2000]

In [16]:
sal

[2000, 2000]

In [17]:

#Now lets see for loop with else

In [18]:
#Print multiplication table with for loop with else

In [19]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [20]:
#Lets see another method

In [21]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table 87

87 X 1 = 87
87 X 2 = 174
87 X 3 = 261
87 X 4 = 348
87 X 5 = 435
87 X 6 = 522
87 X 7 = 609
87 X 8 = 696
87 X 9 = 783
87 X 10 = 870