In [1]:
#1. List five Python keywords and describe what they do.

In [2]:
#Keywords are special or reserved words that are recognized by Python 
#

In [3]:
#2. Write an expression to calculate the area of a rectangle with a length of 5 and width of 10.

In [4]:
l=5 
b=10
a=l*b

In [5]:
a

50

In [6]:
#3. Use the `is` keyword to check if two variables point to the same object.

In [7]:
a = [1, 2, 3]
b = a          # Both a and b point to the same list object
c = [1, 2, 3]  # c is a different list with the same contents

print(a is b)  # True, because a and b refer to the same object
print(a is c)  # False, because a and c are different objects in memory

True
False

In [8]:
#4. Write a Python expression that combines addition, subtraction, multiplication, and division.

In [9]:
result = (10 + 5) * 3 - 8 / 2

In [10]:
result

41.0

In [11]:
#5. What is the output of `10 % 3`? Explain why.

In [12]:
10%3

1

In [13]:
#10 divided by 3 is 3 with a remainder of 1

In [14]:
#Data Types
#6. Check the type of the value `3.14` in Python.

In [15]:
type(3.14)

float

In [16]:
#7. Convert the integer `10` to a float and a string. Print the results.

In [17]:
num = 10

# Convert to float
num_float = float(num)

# Convert to string
num_string = str(num)

# Print the results
print(num_float)   # Output: 10.0
print(num_string)  # Output: "10"

10.0
10

In [18]:
#8. Write a statement to add two strings and print the result.

# Define the strings
string1 = "Hello, "
string2 = "world!"

# Concatenate and print the result
result = string1 + string2
print(result)

Hello, world!

In [19]:
#9. What data type would the result of `3 > 2` be?

type(3>2)

bool

In [3]:
#10  How can you convert a string "123" into an integer?
x_str = "123"
x_int = int(x_str)
print(x_int)

123

In [21]:
# DATA STRUCTURES 
#11. Create a list of 5 elements and print the third element.

In [6]:

roll_no = [1, 2, 3, 4, 5]
print(roll_no[2])

3

In [22]:
#12. Add a new element to a list called `my_list` using the `.append()` method

In [7]:
students=[18,19,20,21,22]
students.append(5)

In [8]:
students

[18, 19, 20, 21, 22, 5]

In [25]:
#13. Remove the last element from a list `my_list` using the `.pop()` method.

In [13]:
my_list = [19, 20, 34, 49, 58]
my_list.pop() #last element will be popped

58

In [27]:
#14. Create a tuple with four elements and try changing the second element. What happens?

In [14]:
#It gives error

In [15]:

#15. Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]

In [16]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-2:])

[40, 50]

In [17]:
#16. Create a dictionary with keys 'name' and 'age' and values 'Alice' and 25.

In [18]:
person = {'name': 'Alice', 'age': 25}

In [19]:
#17. Retrieve the value associated with the key 'name' from the dictionary you
#created in question 16.

In [20]:
print(person['name'])

Alice

In [21]:
#18. Check if the key 'name' exists in a dictionary.

In [22]:
person = {'name': 'Alice', 'age': 25}

In [23]:
print('name' in person)

True

In [24]:
#19. What is the difference between a list and a set in Python?

In [25]:
#We determine list using []
#Elemnets are in ordered manner

#set is a data structure in pyhton
# Keeps item in sorted order
# eliminate the duplicates element.

In [26]:
#20. Convert a list `[1, 2, 3, 2, 1]` into a set and print the result.

In [30]:
my_list = [1, 2, 3, 2,1]
my_set=set(my_list)

In [31]:
print(my_set)

{1, 2, 3}

In [32]:
#21. Write an `if` statement that prints 'Greater than 10' if a number is greater than 10.

In [34]:
number=int(input("enter a number : "))   #asks user for a number to input
if number>10:                            #check if number is greater than 10
  print("number is greater than 10")
elif number==10:                         #check if number is equal to 10
  print("number is equal to 10")
else:                                   #else print number is less than 10
  print("number is less than 10")

enter a number :  89

number is greater than 10

In [35]:
#22. Write an `if-else` statement that checks if a number is positive or negative.

In [36]:
number=int(input("enter a number : "))
if number>0:
  print("positive number")
elif number==0:
  print("zero")
else:
  print("negative number")

enter a number :  -94

negative number

In [37]:
#24.Create a Python program that takes an integer as input and prints 'Even' if it is even and 'Odd' if
#it is odd

In [38]:
number=int(input("enter a number : "))
if number%2==0:                          #checks the number is even
  print("even number")
else:
  print("odd number")                    #else print that number is odd number

enter a number :  63

odd number

In [40]:
#25. Write a program that checks if a given year is a leap year.

In [41]:
year=int(input("Enter a year : "))           #ask user to enter input year

if (year%400==0 and year%100==0) or (year%4==0 and year%100!=0): #check if year is a leap year
  print("leap year")
else:
  print("not a leap year")

Enter a year :  2056

leap year

In [42]:
#26. Use a nested `if` statement to check if a number is positive and even.

In [44]:
num=int(input("enter a number : "))
if num>0 and num%2==0:
  print(f"{num} is positive and even") 
elif num==0:
  print(f"{num} is zero") 
else:
  print(f"{num} is negative and odd")

enter a number :  88

88 is positive and even

In [45]:
#27. Write a program to check if a variable `x` is between 5 and 10.

In [46]:
number=int(input("enter a number : "))
if number>=5 and number<=10:
  print(f"{number} is between 5 and 10") 
else:
  print(f"{number} is not between 5 and 10")

enter a number :  7

7 is between 5 and 10

In [47]:
#28. Write an `if` statement that checks if a variable is a specific data type

In [49]:
newvariable=34
if type(newvariable)==int: 
  print("integer type")
else:
  print("not integer type")

integer type

In [50]:
#29.Write a program that prints 'Pass' if a student's grade is 60 or higher, otherwise 'Fail'.

In [51]:
grade=int(input("enter student marks : "))

if grade>=60: 
  print(f"You have passed with {grade}%") 
else:
  print(f"You have failed with {grade}%")

enter student marks :  78

You have passed with 78%

In [54]:
#30. Write an `if` statement that prints a message if a variable is empty.

In [55]:
var=input()


if var=="":                  #check if variable is empty
  print(f"variable is empty")
else:
  print("variable is not empty")

 var

variable is not empty

In [56]:
#Range and For Loop

In [57]:
# 31. Use a `for` loop and `range()` to print numbers from 1 to 10.

In [58]:
list=[] #empty list
for i in range(1,11):
  print(i) 
  list.append(i) 


print(list)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
#32. Write a `for` loop that calculates the sum of all numbers from 1 to 20.

In [63]:
total=0
for i in range(1,21):
    total+=i

In [64]:
print(total)

210

In [65]:
#33. Use a `for` loop to iterate over a list of names and print each name.

In [66]:
names=["Aryan","Baban","Chirag","Dravid","ishani"] 
for name in names: 
  print(name)

Aryan
Baban
Chirag
Dravid
ishani

In [67]:
#34. Write a program to print the squares of numbers from 1 to 10 using a `for` loop.

In [68]:
list=[1,2,3,4,5]

for i in list :
  print(f"{i}² = {i**2}")

1² = 1
2² = 4
3² = 9
4² = 16
5² = 25

In [69]:
#35. Use a `for` loop and `range()` to print all even numbers from 1 to 20.

In [70]:
#36. Write a program that counts down from 10 to 1 using a `for` loop.

In [71]:
for i in range(10,0,-1): #print 10 to 1 in reverse
  print(i)

10
9
8
7
6
5
4
3
2
1

In [73]:
#37. Create a list of fruits and use a `for` loop to print each fruit in uppercase.

In [74]:
fruits=["apple","kiwi","orange","guava"]
for fruit in fruits:
  print(fruit.upper())

APPLE
KIWI
ORANGE
GUAVA

In [75]:
#38. Write a `for` loop that prints the elements in a list along with their index.

In [77]:
randomlist=[76,67,88,42,58]
for i in randomlist:
  print(i,randomlist.index(i))

76 0
67 1
88 2
42 3
58 4

In [78]:
#39. Use `range()` with three arguments to print every third number from 0 to 30.

In [79]:
#40. Write a program to calculate the factorial of a number using a `for` loop.

In [83]:
number=int(input("enter a number : "))
result=1
for i in range(1,number+1): 
  result*=i 

print(f"factorial of {number} is {result}")

enter a number :  7

factorial of 7 is 5040

In [84]:
#WHILE LOOP

In [85]:
#41. Use a `while` loop to print numbers from 1 to 5.

In [86]:
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [87]:
#42. Write a program that keeps asking the user for a password until they enter '1234'.

In [ ]:
mypass=input("enter password : ") 
while int(mypass)!=1234: 
  newpass=input("incorrect password, enter correct password : ") 
  mypass=newpass 
print("password accepted")

In [90]:
#43. Write a `while` loop to find the sum of numbers from 1 to 100.