In [1]:
#Branching (if,elif,else).
#Provides truthiness of elements

In [10]:
i =10
if i<11: # definitely you have doubt whay print is in space, is know as indentation.means four space  
    print('i is smaller')
else:
    print('i is greater')

i is smaller

In [6]:
print('i is smaller')if i<11 else print('i is greater')

i is smaller

In [11]:
#Another example of Free shipping message

In [15]:
item_1=150
item_2=200

if (item_1+item_2)>=500:
    print('Your item is eligible for free shipping')
else:
    extra=500-(item_1+item_2)
    print('please add',extra,'Rs worth for free shipping')

please add 150 Rs worth for free shipping

In [16]:
#Lets see different example with 'and' method

In [17]:
a=200
b=33
c=500

In [19]:
if a>b and c<a:
    print('Both condition are true')
else:
    print('Both condition are wrong')

Both condition are wrong

In [20]:
#Lets see different example with 'or' method

In [22]:
a=20
b=3
c=50

if a>b or c<a:
    print('Atleast one of the condition are true')
else:
    print('Both condition are wrong')

Atleast one of the condition are true

In [23]:
#Another example of Students leave

In [24]:
marks=60

if marks>=60:
    if  marks>70:
        print(marks,'distiction')
    else:
        print(marks,'First class')
elif marks>50 and marks<60:
    print(marks,'second division')
elif marks>35:
    print(marks,'Just pass')
else:
    ('marks','Fail Better luck next time')

60 First class

In [25]:
marks=88

if marks>=60:
    if  marks>70:
        print(marks,'distiction')
    else:
        print(marks,'First class')
elif marks>50 and marks<60:
    print(marks,'second division')
elif marks>35:
    print(marks,'Just pass')
else:
    ('marks','Fail Better luck next time')

88 distiction

In [29]:
num1=54
num2=97
if num1<num2:
    print(num1,'is greater')
elif num2==31:
    print(num2,'is equal to 55')

54 is greater

In [30]:
#Range function
#We can generate sequence of numbers using range()function
#First element  is start of range,second is end and third is the step size

In [31]:
print(range(10))

range(0, 10)

In [32]:
#We can also print range in list

In [34]:
print(list(range(17)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [35]:
print(list(range(18,190,4)))

[18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86, 90, 94, 98, 102, 106, 110, 114, 118, 122, 126, 130, 134, 138, 142, 146, 150, 154, 158, 162, 166, 170, 174, 178, 182, 186]

In [36]:
#We can also store range function in variable

In [38]:
roll_num=list(range(10,50,1))

In [39]:
roll_num

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [41]:
#We can also Reverse function with range function

In [42]:
reverse=list(range(1600,99,-100))

In [43]:
#we use - sign when range decreases from start down to stop

In [44]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

In [45]:
#Loop function
#we use loop function to repeat a set of statement in our program

In [46]:
#Lets start with 1.For loop

In [50]:
location=["Kolkata","Bihar","Raipur","Patna","Siwan"]

In [51]:
location

['Kolkata', 'Bihar', 'Raipur', 'Patna', 'Siwan']

In [52]:
for city in location:
    print(city)

Kolkata
Bihar
Raipur
Patna
Siwan

In [53]:
#Lets check for numbers

In [54]:
salary=[10500,204400,35000,57000,78000,19000,22000,95000]

In [56]:
for money in salary:
    print(money)

10500
204400
35000
57000
78000
19000
22000
95000

In [57]:
student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [58]:
#We can classify grades of students using student_score

In [59]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Jsut Pass")
    else:
        print(marks ,"You are fail, please try next time")

78 First class
98 Distiction
65 First class
45 Jsut Pass
89 Second class
87 Second class
32 You are fail, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

In [60]:
#What is list comprehension 
#List comprehension is a shorter syntax on values of existing list

In [61]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]

In [62]:
#Use list comprehension

In [63]:
sal=[val for val in salary if val==2000]

In [64]:
sal

[2000, 2000]

In [65]:
#Now lets see for loop with else

In [66]:
#Print multiplication table with for loop with else

In [67]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [68]:
#Lets see another method

In [69]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table 89

89 X 1 = 89
89 X 2 = 178
89 X 3 = 267
89 X 4 = 356
89 X 5 = 445
89 X 6 = 534
89 X 7 = 623
89 X 8 = 712
89 X 9 = 801
89 X 10 = 890