In [57]:
#SIMPLE EXPRESSIONS
#1 Write a Python expression to calculate the area of a circle with radius r = 7.

radius=7         
area=3.14*7*7 #Formula for area of circle
area

153.86

In [59]:
#2 What will be the output of the expression 2 * 3 + 4?

x=2*3+4 
x

10

In [60]:
#3 Calculate the result of (8 / 2) * (3 + 2).

x=(8/2)*(3+2)
x

20.0

In [15]:
#4 Write an expression to find the remainder when 15 is divided by 4.

remainder = 15 % 4

In [16]:
remainder

3

In [17]:
#5 Write a Python expression to convert 100 Fahrenheit to Celsius using the formula: C = (F - 32) *
#5/9.

F = 100
C = (F - 32) * 5 / 9

In [19]:
C

37.77777777777778

In [44]:
#6 Evaluate the expression: 10 // 3 + 2 ** 3.

x=10 // 3 
y=2 ** 3
z=x+y

In [23]:
# 7. What does the expression 5 == 5 and 4 < 6 evaluate to?

5 == 5 and 4 < 6

True

In [24]:
#8. What is the output of not (4 > 5 or 3 == 3)?

(4 > 5 or 3 == 3)

True

In [30]:
# 9. Write an expression that checks if a number x is odd.
num = int (input ( "Enter any number : ")) #Provide input

if (num % 2) == 0:    #To check the condition i.e if number is divisible by 2
              print ("The given number is even")
else:
              print ("The given number is odd")

Enter any number :  54

The given number is even

In [31]:
#10. What is the type of the value 5.0?

x=5.0
type(x) #to cehck the type of x use type ()function

float

In [63]:
#11. How do you convert the integer 42 to a string?

x=42
str(x)
type(x)

TypeError: 'str' object is not callable

In [64]:
#12. What will the expression str(3.14) + ' is pi' output?

print(str(3.14) +' is pi')

TypeError: 'str' object is not callable

In [41]:
#13 What is the output type of the expression 4 + 3.5?

x=4
y=3.5
z=x+y

In [45]:
z

11

In [47]:
#14 Write a Python code to take an input from the user and convert it to an integer.

a=42
a=str()

TypeError: 'str' object is not callable

In [67]:
# 15. How can you find the type of a variable in Python?

#By using type() function

#example
x=input()
print(type(x))

 Village

<class 'str'>

In [68]:
#16 Create a variable my_name and assign your name to it. Check if it is of type str.

my_name='PradnyA'
type(my_name)

str

In [69]:
#Data Structures - Lists, Tuples, Sets, and Dictionaries

In [70]:
#17. How do you create an empty list in Python?

lst=list() #create an empty list
lst

[]

In [71]:
#18 Write code to add an element 42 to the end of the list [1, 2, 3].

lst=[1,2,3]
lst.append(42)
lst

[1, 2, 3, 42]

In [72]:
#19 How do you access the third element in the list my_list = [10, 20, 30, 40]?

my_list = [10, 20, 30, 40]
print(my_list[2])

30

In [73]:
#20. What is the difference between a list and a tuple in Python?
#ANS: We determine list using [] and Tuple using ()
#WE can append list but not append tuple

SyntaxError: invalid syntax (1031389561.py, line 2)

In [74]:
#21. Write a Python code to create a set with the elements 1, 2, and 3.

s={1,2,3}

In [75]:
s

{1, 2, 3}

In [76]:
#22. How do you remove an element from a set in Python?

s= {1, 2, 3, 4}
s.remove(3) #We use s.remove() function to remove any element
print(s)

{1, 2, 4}

In [77]:
# 23. Write code to retrieve the value of the key 'name' from the dictionary person = {'name': 'Alice',
#'age': 25}.

new_dict={'name': 'Alice', 'age': 25}
new_dict['name']

'Alice'

In [79]:
#24. Create a dictionary with three key-value pairs and then remove one pair from it.

my_dict={'name':'ram','age':'26', 'roll no':'52'}
my_dict.pop('roll no')
my_dict

{'name': 'ram', 'age': '26'}

In [81]:
#25. Given my_tuple = (5, 10, 15), how can you access the element 10?

tuple=(5,10,15)
tuple[1]  #we use the index

10

In [82]:
#Methods of Data Structures

In [83]:
#26. How do you find the length of a list numbers = [1, 2, 3, 4, 5]?
x=[1,2,3,4,5]
len(x)  #We use length() function to check length of list

5

In [87]:
#27. What method would you use to add an element at a specific index in a list?


lst=[1,2,4]
lst.insert(8,9)
lst

[1, 2, 4, 9]

In [88]:
#28. Write a Python code to sort the list [4, 1, 3, 2] in ascending order.

list=[4,1,3,2]
list.sort()  #We use sort() method to sort elements in ascending order
list

[1, 2, 3, 4]

In [90]:
#29 How do you check if the number 5 is in the list [1, 2, 3, 4, 5]?

lst=[1,2,3,4,5]
if 5 in lst:
  print('yes, 5 is part of the list')
else:
  print('no, 5 is not part of the list')

yes, 5 is part of the list

In [91]:
#30. Write a code to concatenate two lists [1, 2, 3] and [4, 5, 6].

l1=[1,2,3]
l2=[4,5,6]
l1+l2    #We use' + ' sign to concate the list

[1, 2, 3, 4, 5, 6]

In [92]:
#Branching

In [94]:
#31 Write a Python if statement to check if a number x is positive.

x=input()
if int(x)>0:
  print('x is postive')
else:
  print(' x is negative')

 76

x is postive

In [96]:
#32. Modify the previous question to include else to handle the case when x is negative or zero.


x=input()
if int(x)>0:
  print('the number is postive')
#elif(x==0):
  #print('the number is zero')
else:
  print('x is zero or negative')

 -54

x is zero or negative

In [97]:
#33 Write an if-elif-else block to check if a number is positive, negative, or zero.

x=input()
if int(x)>0:
  print('the number is positive')
elif(x==0):
  print('the number is zero')
else:
  print('x is negative')

 -67

x is negative

In [98]:
#34. How would you use a ternary operator to assign the value 10 to result if x > 5, otherwise assign
#5?

SyntaxError: invalid syntax (162731292.py, line 2)

In [102]:
result=10 if x>5 else 5
result

TypeError: '>' not supported between instances of 'str' and 'int'

In [103]:
#35. Write an if statement that checks if a variable score is greater than or equal to 90, and if so,
#prints 'A grade'


marks=input()
if int(marks)>=90:
  print('A grade')

 56

In [104]:
#36. Use an if statement to check if a list fruits = ['apple', 'banana', 'cherry'] contains the element
#'banana'.

fruits = ['apple', 'banana', 'cherry']
if 'banana' in fruits:
  print('yes, banana is in the list')
else:
  print('we need a banana')

yes, banana is in the list

In [105]:
# 37. Write a nested if statement that prints 'Adult Male' if age > 18 and gender == 'male'

age=input()
gender=input()
if(int(age)>18):
  if(gender=='male'):
    print('Adult Male')

 34
 male

Adult Male

In [106]:
# 38. Create a Python code snippet using if statements to determine if a number is divisible by 3, 5, or
#both.

x=input()
if int(x)%3==0:
  print('the number is divisible by 3')
elif int(x)%5==0:
  print('the number is divisible by 5')
elif int(x)%15==0:
  print('the number is divisible by 3 and 5')
else:
  print('the number is not divisible by 3 or 5')

 65

the number is divisible by 5

In [108]:
#39. Write an if condition that checks if a string name is not empty and prints 'Name is provided'.

name=input()
if str(name):
  print('Name is provided')

 Pradnya

TypeError: 'str' object is not callable

In [109]:
#40. Use an if statement to check if a variable age is within the range 18 to 25 inclusive.

age=input()
if int(age)>=18 and int(age)<=25:
  print('age is within range')
else:
  print('age is not within range')

 56

age is not within range