In [2]:
#Use map to double all the elements in the list: [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [3]:
#Use filter to extract all even numbers from the list: [10, 15, 20, 25, 30].

In [6]:
numbers = [10, 15, 20, 25, 30]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[10, 20, 30]

In [9]:
#4. Write a one-liner lambda function to check if a given number is a palindrom
is_palindrome = lambda num: str(num) == str(num)[::-1]

In [12]:
#5 Write a function that takes a variable number of arguments (*args) and returns
#their sum
def sum_of_numbers(*args):
    return sum(args)

In [15]:
#Write a function that uses **kwargs to accept a studentâ€™s details (name, age, and
#grade) and print them in a formatted string.

def print_student_details(**kwargs):
    name = kwargs.get('name', 'N/A')
    age = kwargs.get('age', 'N/A')
    grade = kwargs.get('grade', 'N/A')
    print(f"Student Name: {name}")
    print(f"Age: {age}")
    print(f"Grade: {grade}")

In [17]:
#10. Write a program to print the first 10 natural numbers using a for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:

#11 . Write a program to calculate the sum of all numbers in a list: [5, 10, 15, 20]
#using a for loop.
numbers = [5, 10, 15, 20]
total_sum = 0

for num in numbers:
    total_sum += num

print("Sum of all numbers:", total_sum)

Sum of all numbers: 50

In [23]:
#13. Write a program to find the factorial of a number using a while loop.
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    return result

# Example usage:
number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120

In [25]:
# 14. Write a Python program to check if a number entered by the user is even or odd
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

Enter a number: 34
34 is even.

In [26]:
#18. Write a function that takes a list of numbers and returns the largest number.
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# Example usage:
numbers = [32, 76, 67, 23, 45]
print("The largest number is:", find_largest(numbers))

The largest number is: 76

In [31]:
#1. Create a NumPy array of zeros with shape (3, 4).
import numpy as np

# Create a NumPy array of zeros with shape (3, 4)
array = np.zeros((3, 4))

# Print the array
print(array)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [33]:
#2. Create a NumPy array of ones with shape (2, 5).
import numpy as np

# Create a NumPy array of ones with shape (2, 5)
array = np.ones((2, 5))

# Print the array
print(array)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [35]:
 #3 Create a NumPy matrix with the values from 1 to 10 using np.arange()
 import numpy as np

matrix = np.arange(1, 11)

# Print the matrix
print(matrix)

[ 1  2  3  4  5  6  7  8  9 10]

In [37]:
matrix_reshaped = matrix.reshape(2, 5)
print(matrix_reshaped)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [38]:
#4. Create a NumPy array with numbers from 0 to 1 (inclusive) with a step size of 0.1
#using np.arange()

In [40]:
import numpy as np

# Create a NumPy array with 10 equally spaced values between 0 and 1 (excluding 1)
array = np.linspace(0, 1, 10, endpoint=False)

# Print the array
print(array)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]

In [42]:
#6. Write a NumPy program to compute the square root of each element in the array
#[1, 4, 9, 16].
import numpy as np

# Create the NumPy array
array = np.array([1, 4, 9, 16])

# Compute the square root of each element in the array
sqrt_array = np.sqrt(array)

# Print the result
print(sqrt_array)

[1. 2. 3. 4.]

In [43]:
#7 Compute the sum of all elements in the array np.array([2, 3, 4, 5, 6]).
import numpy as np

# Create the NumPy array
array = np.array([2, 3, 4, 5, 6])

# Compute the sum of all elements in the array
sum_array = np.sum(array)

# Print the result
print(sum_array)

20

In [46]:
# 8. Find the minimum value in the array np.array([1, 5, 9, 3, 6]) using np.min().
import numpy as np

# Create the NumPy array
array = np.array([1,5,9,3,6])

# Find the minimum value in the array
min_value = np.min(array)

# Print the result
print(min_value)

1

In [50]:
# 9. Find the maximum value in the array np.array([1, 5, 9, 3, 6]) using np.max().

import numpy as np

# Create the NumPy array
array = np.array([1, 5, 9, 3, 6])

# Find the minimum value in the array
min_value = np.min(array)

# Print the result
print(min_value)

In [53]:
import numpy as np

# Generate an array of 5 random integers between 10 and 50
random_integers = np.random.randint(10, 51, size=5)

# Print the result
print(random_integers)

[23 21 45 38 48]